<style type="text/css">

div.category
{
background-color:#FFFFFF;
margin:1px;
height: 250px;
width: 200px;
}
div.category_next
{
border-left:1px solid black;
}
</style>
	<table>
    <tr>
    <% @board.categories.each do |c|%>
       <% if @board.categories[0]==c 
       	     cl="category"
       	  else 
       	  	cl="category category_next"
       	  end%>
    	<td>
    		<%= render 'categories/category', {:cl=>cl,:c=>c}%>
       </td>
    <% end%>
    </tr>
	</table>
