<table>
	<tr>
		<th>Tickets<th>
	</tr>
	<% @category.tickets.each do |ticket|%>
		<tr>
			<td><%=ticket.name%></td>
			<td><%=link_to 'Delete',ticket,:confirm=>"Are you sure?",:method=>:delete%></td>	
		</tr>
	<% end %>
</table>
